<app-navbar></app-navbar>

<div class="container-fluid panel_bg_contact" style="margin:0; padding:0; margin-top:0px;">

    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-md-6">
                <h1 class="page-title-head">Contact Us</h1>
                <p class="page-title-body">
                    We are always ready to get your feedbacks and enquiries</p>
            </div>
            <div class="col-md-6 text-right mobile-hide">
                
            </div>
        </div>
    </div>
</div>

<div class="container head-room-60">
    <div class="caption-row animated fadeIn delay-1s">
        <!-- <h2 class="head-caption">Please if you have any question, enquiry or any important information, you can contact us directly here by completing the form below. We shall be responding to your post as soon as possible.</h2> -->
    </div>
    <div class="row align-items-center animated fadeInUp delay-2s" style="padding:30px 5px;">
        <div class="col-md-4">
            <div style="padding:30px; text-align:right; border-right:2px solid #f58634;">

                <p>Please if you have any question, enquiry or any important information, 
                    you can contact us directly here by completing the form below. We shall be responding to your post as soon as possible.</p>
           
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Location</strong></p>
                    <p>13A Ayo Babatunde Crescent, <br> 
                        Off Akiogun Road, Oniru Lekki Phase 1<br>
                        Lagos State<br><br>
                       </p>
                </div>
                <div class="col-md-6">
                    <p><strong>Contact</strong></p>
                    <p>info@wonderdoubleglobal.com<br>
                        +234 905 612 9950, +234 902 787 0714</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="container-fluid title-next map-content" style="margin-top:70px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5106.081882654599!2d3.4555682244049413!3d6.430811654961557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s13A%20Ayo%20Babatunde%20Crescent%2C%20Off%20Akiogun%20Road%2C%20Oniru%20Lekki%20Phase%201%20Lagos%20State!5e0!3m2!1sen!2sng!4v1638164299725!5m2!1sen!2sng" class="map" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>




<div>
    <app-footer></app-footer>
</div>



