<app-navbar></app-navbar>

<div class="container-fluid mobile-hide" style="margin:0; padding:0;">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/wonder_bg3.jpg" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption" style="width: 800px;">
                    <div style="margin-bottom:80px; text-align:left; margin-left:60px;">
                        <h3 class=".shadow-5 ban-htext" style="color:white;">Your wish <br>Our command</h3>
                        <p class="ban-btext" style="color:#ddd;">you can always have it just as you want it with us <br>your desires and expectations are always valid and achievable</p>
                    </div>
                    <div style="padding:10px;" class="animated fadeInUp delay-1s main-caption"> 
                    
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/wonder_bg4.jpg" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption" style="width: 800px;">
                    <div style="margin-bottom:80px; text-align:left; margin-left:60px;">
                        <h3 class=".shadow-5 ban-htext" style="color:white;">Crazy wishlist?</h3>
                        <p class="ban-btext" style="color:#ddd;">Feel free to dream wide and wild and have a wish so crazy and unrealistic<br>bringing it to life remains our responsibility - let us do it</p>
                    </div>
                    <div style="padding:10px;" class="animated fadeInUp delay-1s main-caption"> 
                       
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container desktop-hide" style="margin:0px; padding:0;">
    <div class="roundedx" style="background:#754a32;">
        <div style="color:white; padding:30px;">
            <p style="color:#ddd; text-align: center;">Feel free to dream wide and wild and have a wish so crazy and unrealistic - bringing it to life remains our responsibility - let us do it</p>
        </div>
    </div>
</div>


<div class="container" style="margin:30px auto;">
    <div style="padding:0px; border-left:0px solid red; width:70%;">
        <h2 class="head-caption" style="color:#353d65;">We are one stop shop for all relevant real estate needs and services </h2>
        <p>We have an undeniable experience in the area of Land acquisition, architectural and structural planning, documentation, construction, supervision, finishing, interior decoration and every other related service. </p>
    </div>
</div>

<div class="container head-room-60">
   
    <div class="row align-items-center" style="">
        <div class="col-md-6 animated fadeInLeft delay-2s">
            <div>
                <img src="/assets/panel1.jpg" class="testimg z-index-2"/>
            </div>
        </div>
        <div class="col-md-6 animated fadeInRight delay-2s">
            <div style="padding:20px 0; border-left:0px solid #df2f8a;">
               
                <p>For Wonder Double, real estate is not just about buying and selling of lands and houses; it includes helping people understand their needs and wants so they can make a better decision and enjoy a maximum value for their investments. <br><br>Our clients have so much trust in our offers because we carefully select properties based on their wishlist - that will perfectly suit their lifestyle and purpose.
                    <br><br>Wonder Double Global will listen to you and help you generate a wishlist, filter the different property offers to select the most suitable, take you through the process of selection and assist you in facilitating the transaction - you will not have to do anything alone 

                </p>
            </div>
        </div>
    </div>
    
</div>


<div class="container-fluid panel_bg" style="margin:0; padding:0; margin-top:40px;">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p style="font-size:18px; color:white; text-align: center; padding:20px 0;">
                    We are fully registered and our main office is in Lagos, Nigeria, but we have working relationships and partnerships across the country and even beyond to guarantee a flawless service to our clients from anywhere across the globe. Our marketers are everywhere in the country but every transaction is initiated from Lagos (headquarter) <br>- please take note</p>
            </div>

            <div class="col-md-6 text-right">
                <img src="/assets/bg1.png" class="testimg-side mobile-hide"/>
            </div>
        </div>
    </div>
</div>

<div class="container head-room-60" style="box-sizing: border-box;">
    <div class="title-div" style="margin-bottom:20px;">
        <div style="float:left;">
            <h2 class="head-caption">Top Properties</h2>
        </div>
        <div style="float:right;">
          <p routerLink="/properties" style="color:#f58634; cursor:pointer; text-align: left; padding-top:8px;">All Properties</p>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div *ngFor="let list of houseList" class="row align-items-center" style="margin-bottom:30px;">
        <div class="col-md-6">
          <a routerLink="/property/{{list.id}}/{{list.estate}}/{{username}}"><img class="d-block" src="{{list.upload}}" class="testimg"></a>
        </div>
        <div class="col-md-6" style="padding-top:10px;">
          <h4 style="color:#111;">{{list.estate}}</h4><br>
  
            <p style="color:#111;" [innerHtml]= "(list.caption.length>350)? (list.caption | slice:0:350)+'..':(list.caption)"></p>
        </div>
    </div>
</div>

<div class="container-fluid panel_bg2" style="margin:0; padding:0; margin-top:40px;">

    <div class="container">
        <div class="top-margin-300" style="width: 90%; margin:auto; text-align: center; color:white; ">
            <h1 class="page-title-headxi" style=" color:white;"> WONDER REPRESENTATIVE PROJECT</h1>
            <p style=" color:white;">
              
                Are you a student, sit-at-home mum, fresh graduate, retiree, casual worker or professional that desire to have a bite of the multi-billion dollar real estate industry? We have a special project that will not only introduce you to the business but also afford you the opportunity to earn a very passive income from the industry without affecting your other day to day activities.
            </p>
            <div style="margin-top:2px;">
                <div class="text-center">
                    <!-- <button type="button" routerLink="/wonder-representative-page" mdbBtn style="background-color:#f58634; color:white;" rounded="true" data-toggle="modal" mdbWavesEffect>Read more >>></button> -->
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="container head-room-60">
    <div class="row align-items-center" style="margin:30px 0;">
        <div class="col-md-10">
            <h2 class="head-caption">BLOG</h2>
        </div>
    </div>
    <div class="container" style="margin-top:60px;">
        <div *ngIf="isBlog; else placeholder_personal">
            <div class="row">
                <div *ngFor="let blog of blogList" class="col-md-4 col-sm-6" style="margin-bottom:20px;">
                    <img src="{{blog.upload}}" class="testimg" style="cursor:pointer;" (click)="redirect(blog.id, blog.topic, blog.upload, blog.comment, blog.author, blog.date)"/>
                    <div style="padding:10px; background:#f8f6f6; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                        <div>
                            <p><strong style="color:#222;">{{blog.topic}}</strong><br>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <p style="color:#333c66;" class="caption"><i class="fas fa-pencil-alt" style="width:10px;"></i> {{blog.author}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p style="color:#222;" class="caption"><i class="far fa-clock"></i> {{blog.date | date: 'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #placeholder_personal>
            <div class="row" style="margin-bottom:40px;">
                <div class="col-md-4">
                    <div class="item">
                        <ngx-skeleton-loader count="6"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <ngx-skeleton-loader count="6"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <ngx-skeleton-loader count="6"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </ng-template>
        
    </div>
</div>

<app-footer></app-footer>

